<h2 mat-dialog-title>Adicionar Pet</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome </mat-label>
        <input matInput placeholder="Garfield" formControlName="name"/>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Espécie</mat-label>
        <mat-select formControlName="species">
          <mat-option value="one">Cachorro</mat-option>
          <mat-option value="two">Gato</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Idade</mat-label>
        <input matInput placeholder="2 anos" formControlName="age"/>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>RGA</mat-label>
        <input matInput placeholder="12345678" formControlName="RGA"/>
      </mat-form-field>
    </div>
    <div class="big-form">
      <mat-form-field appearance="fill">
        <mat-label>Sobre o pet</mat-label>
        <textarea matInput formControlName="desc"></textarea>
      </mat-form-field>
    </div>
    <div class="switch-input">
      Castrado?
      <mat-slide-toggle formControlName="castrated"></mat-slide-toggle>
    </div>
    <div class="switch-input">
      Vermifugado?
      <mat-slide-toggle formControlName="wormed"></mat-slide-toggle>
    </div>
    <div class="switch-input">
      Vacinado?
      <mat-slide-toggle formControlName="vacinated"></mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="savePet()"
  >
    Adicionar
  </button>
</mat-dialog-actions>
