<div>
  <div class="page-title row">
    <h2>Página inicial</h2>
  </div>
  <mat-card *ngIf="!isTherePets">
    <mat-card-content>
      <h4>
        <b>Nenhum pet a exibir.</b>
      </h4>
      <p>Não há pets cadastrados no momento. 🥺</p>
    </mat-card-content>
  </mat-card>
  <mat-card *ngFor="let pet of pets">
    <div class="title">
      <img mat-card-avatar [src]="guardianById(pet.guardianCNPJ).photo" />
      <mat-card-title>{{ guardianById(pet.guardianCNPJ).name }}</mat-card-title>
    </div>
    <mat-card-subtitle>{{
      guardianById(pet.guardianCNPJ).address
    }}</mat-card-subtitle>
    <img mat-card-image [src]="pet.photo" />
    <mat-card-content>
      <h4>
        <b>{{ pet.name }}</b>
      </h4>
      <p>{{ pet.desc }}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="primary">Entrar em contato</button>
    </mat-card-actions>
  </mat-card>
</div>
