<a [routerLink]="['/']">
    <h1>MyPet</h1>
</a>

<div>
    <a><i class="material-icons">search</i></a>
</div>

<div>
    <button mat-icon-button aria-label="Botão redondo com ícone de casa. Leva à página inicial.">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Botão redondo com ícone de um balão de conversa. Leva ao histórico de chats.">
        <mat-icon>chat</mat-icon>
    </button>
    <button mat-icon-button
        aria-label="Botão redondo com ícone de um perfil humano. Leva às configurações da conta do usuário.">
        <mat-icon>account_circle</mat-icon>
    </button>
</div>